# CIS Lecture 1

Google Colab is a service that provides a browser based Python interpreter. Python is an interpreted language (unlike C++ for example, which is a compiled language). Python is a good first language to learn because it is intuitive and accessible.

**Jupyter Notebooks** are interactive ways of writing python code along with markdown (human language) to document what the code is doing. We can write code or markdown text inside cells. This is a good way to learn python because we can see the output of code blocks without rerunning the entire program.

**To run a cell:** press shift + enter at the same time

## Python as a Calculator

Let's warm up by using python as a calculator. We can add, subtract, multiply and divide numbers doing something like this:

(to run python, we need to create a code cell by positioning the mouse where we want the cell and clicking + code)

In [1]:
2 + 5

7

In [2]:
5 - 8

-3

In [7]:
4*50

200

## Question: what are the bracketed numbers to the left of the code cells?
The bracketed numbers to the left of the code cell tell us the order of execution of the cells. For example, rerunning the same cell will cause the number to increase by 1.

In [8]:
2**2 # We can write a comment in python by using a hastag
# two asteriks denote exponentiation

4

# Types in Python
Numbers in python can be integers or floats (decimals). We can check what type a number is by using type(). For example:

In [9]:
type(5) # here, writing type(some_number) gives me the type of that number

int

In [10]:
type(5.2)

float

We can also write strings in python:

In [11]:
'Hahaha'

'Hahaha'

In [12]:
'Antonio'

'Antonio'

In [13]:
'Atlanta is a fun town'

'Atlanta is a fun town'

## Variables

We often want to reuse a number or string or something more than once, so it's useful to define a variable (think of it like a name) for it. We can instantiate (define an instance of) a variable by giving it a name and putting an equals sign and then giving it a value on the right hand side of the equals sign like this:

In [14]:
firstname = 'Antonio'
firstname

'Antonio'

In [16]:
middlename = 'Khalil'
lastname = 'Moretti'

In [17]:
firstname

'Antonio'

We can also print by using the print function like this:

In [18]:
print(firstname)

Antonio

In [19]:
print(firstname,middlename,lastname)

Antonio Khalil Moretti

## A few more names
What if we want to write a string with an apostrophae in it? We can use either the single quotation marks or double quotation marks to open and close a string. For example

In [21]:
myfavoritename = "Le'Nae"
myfavoritename

"Le'Nae"

## String Concatenation
Let's print a message:

In [22]:
print("My first name is: ", firstname, " my middle name is: ", middlename, " and my last name is: ", lastname)

My first name is:  Antonio  my middle name is:  Khalil  and my last name is:  Moretti

In [23]:
print(5*'Ha')

HaHaHaHaHa

In [24]:
type(firstname)

str

In [27]:
print(firstname + " " + middlename + " " + lastname)

Antonio Khalil Moretti

# Lists

We often want to collect multiple things at once. One way to do this is with a list like this:

In [28]:
CIS_Student_Names = ['Peyton', 'Chichi', 'Nat', 'Jordan', 'Chyann', 'Laramie', 'Aliya', 'Nabilah']

# If we use parenthenses, we get a different object called a tuple

We can index into a list like this:

In [29]:
CIS_Student_Names[0]

'Peyton'

In [30]:
CIS_Student_Names[1]

'Chichi'

In [32]:
CIS_Student_Names[0:3]

['Peyton', 'Chichi', 'Nat']

In [33]:
CIS_Student_Names[3:6]

['Jordan', 'Chyann', 'Laramie']

In [37]:
CIS_Student_Names[-1] # We can index from the right by using a minus sign

'Nabilah'

In [39]:
# We can reverse the entire list like this:
CIS_Student_Names[::-1]

['Nabilah', 'Aliya', 'Laramie', 'Chyann', 'Jordan', 'Nat', 'Chichi', 'Peyton']

## Inserting and deleting elements from a list

In [40]:
newname = 'Jordan'

In [41]:
# We can append a name to a list like this
CIS_Student_Names.append(newname)
print(CIS_Student_Names)

['Peyton', 'Chichi', 'Nat', 'Jordan', 'Chyann', 'Laramie', 'Aliya', 'Nabilah', 'Jordan']

In [42]:
# We can also insert a name at a specific position in a list like this:
CIS_Student_Names.insert(0, 'Jordan')
print(CIS_Student_Names)

['Jordan', 'Peyton', 'Chichi', 'Nat', 'Jordan', 'Chyann', 'Laramie', 'Aliya', 'Nabilah', 'Jordan']

## Errors in Python
Suppose I try something like this:

In [43]:
CIS_Student_Names.append(0,'Charlie')

TypeError: list.append() takes exactly one argument (2 given)

If I write some code that is syntactically incorrect, I will get an error message. Understanding how to read and decipher these errors is a skill we will develop. The first thing to do is to read the error.

Here, I see in red "TypeError". This tells me that the error is related to the type of a variable. There is also a message that may be helpful, although its often cryptic and we need to learn how to decode it.

Its natural to get frustrated by cryptic error messages. Use whatever method to destress or vent that you find useful.

Here, the message says list.append takes exactly one argument (but 2 were given). We need to say somenthing about functions (their inputs or arugments and their outputs) in order to understand this error.

In [44]:
print("Greetings","firstname")

Greetings firstname

In [45]:
print("Greetings", firstname)

Greetings Antonio